/*table, th, td {*/
/*    border: 1px solid black;*/
/*    border-collapse: collapse;*/
/*}*/
/*th, td {*/

/*    border-color: blue;*/
/*}*/


/*tr:nth-child(even) {*/
/*    background-color: #D6EEEE;*/
/*}*/
.Residents_table{
    top : 5px;
    right : 70px;
}
.Factures_table{
    right : 70px;
    bottom : 20px;
}
.PaidFactures{
    top : 80px;
    right  : 100px;
}
.OnGoingFactures{

}
.Residents_table , .Factures_table , .PaidFactures , .OnGoingFactures{
    border-collapse: collapse;
    margin : 25px 0;
    font-size : 0.9em;
    min-width : 400px;
    border-radius : 5px 5px 0 0 ;
    overflow : hidden;
    box-shadow : 0 0 20px rgba(0,0,0,0.15);
    cursor : move;
}
.Residents_table thead tr , .Factures_table thead tr , .PaidFactures thead tr , .OnGoingFactures thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}
.Residents_table th, .Residents_table td , .Factures_table th , .Factures_table td {
    padding: 12px 15px;
}
.PaidFactures th, .PaidFactures td , .OnGoingFactures th , .OnGoingFactures td {
    padding: 12px 15px;
}

.Residents_table tbody tr , .Factures_table tbody tr{
    border-bottom : 1px solid lightgray;
}
.PaidFactures tbody tr , .OnGoingFactures tbody tr{
    border-bottom : 1px solid lightgray;
}
.Residents_table tbody tr:nth-of-type(even) .Factures_table tbody tr:nth-of-type(odd){
    background-color:  #f3f3f3;
}
.PaidFactures tbody tr:nth-of-type(even) .OnGoingFactures tbody tr:nth-of-type(odd){
    background-color:  #f3f3f3;
}
.Residents_table tbody tr:last-of-type , .Factures_table tbody tr:last-of-type{
    border-bottom : 2px solid #009879;
}
.PaidFactures tbody tr:last-of-type , .OnGoingFactures tbody tr:last-of-type{
    border-bottom : 2px solid #009879;
}
.BarResidents{
    cursor : move;
    top : 5px;
    left : 120px;
}
.doughnutImmeubleFactures{
    cursor : move;
    bottom : 15px;
    left : 170px;
}



.OnGoingFacturesContainer{
    display  :flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    top : 80px;
    left  : 150px;
}
.OnGoingFacturesContainer .PaymentFacturesButtonsContainer{
    margin-bottom  :5px;
    display  :flex;
    gap : 10px;

}
.OnGoingFacturesContainer .PaymentFacturesButtonsContainer .PaymentFacturesFactures{
    background-color : green;
    border-color  : lightgreen ;
}